body{
  max-width: 1300px;
  display: flex;
}

table {
  box-sizing: border-box;
}

td {
  box-sizing: border-box;
  border: 1px solid black;
  min-width: 80px;
  height: 80px;
  text-align: center;
  font-size: x-large;
  padding: 30px;
}
